[include mainsail.cfg]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT
[exclude_object]

#####################################################################
#   MCU
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_1C0011001150334636383920-if00
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[mcu sb_can_th]
canbus_uuid=43de0188e7ba
#####################################################################


#####################################################################
#   Kinematics
#####################################################################
[printer]
kinematics: corexy
max_velocity: 350  
max_accel: 6000
max_accel_to_decel: 3000
max_z_velocity: 50
max_z_accel: 350
square_corner_velocity: 7.5

[force_move]
enable_force_move: True
#####################################################################

#####################################################################
#   Hardware configurations
#####################################################################
[include hardware/XY_motors.cfg]
[include hardware/input_shaper.cfg]
[include hardware/Z_motors.cfg]

[include hardware/toolhead.cfg]
[include hardware/tap_probe.cfg]

[include hardware/heater_bed.cfg]
[include hardware/rpi_cooling.cfg]
[include hardware/exhaust_fan.cfg]

[include hardware/filament_sensor.cfg]
#####################################################################


#####################################################################
#   Macros
#####################################################################
[include macros/firmware_retraction.cfg]

[include macros/sensorless_tap_homing.cfg]
[include macros/unsafe_toolhead_raise.cfg]
[include macros/qgl.cfg]

[include macros/clean_nozzle.cfg]
[include macros/start_end_print.cfg]
[include macros/purge_line.cfg]
#####################################################################

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[include fast_infill.cfg]

# This file contains all settings for KAMP, and must be included in printer.cfg with:
[include ./KAMP/KAMP_Settings.cfg]
# This file enables the use of adaptive meshing.
[include ./KAMP/Adaptive_Meshing.cfg]

# For auto github config backup
[include config_backup.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.290
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.032917, -0.009167, 0.010833, -0.001458, -0.009583
#*# 	  -0.012083, 0.001875, -0.007500, -0.010417, -0.007708
#*# 	  -0.011250, -0.000417, -0.002708, 0.000625, 0.004167
#*# 	  -0.018958, -0.005208, 0.011042, -0.006875, -0.012083
#*# 	  -0.026458, -0.015417, -0.015625, -0.010833, -0.031458
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = lagrange
#*# tension = 0.1
#*# min_x = 116.5
#*# max_x = 233.5
#*# min_y = 116.5
#*# max_y = 233.5
