# For BTT Smart Filament sensor
[filament_motion_sensor filament_sensor]
detection_length: 20
extruder: extruder
switch_pin: ^PG11
pause_on_runout: True
insert_gcode:
    M117 Insert Detected
runout_gcode:
    M117 Runout Detected
    #LCDRGB R=1 G=0 B=0  # Turn LCD red
    #BEEP I=12